body {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    
}

/*--header--*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #222;
    color:white;
}
header.logo {
    font-size: 28px;
    font-weight: bold;
}
header .logo span {
    color: #ff2ec4;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    
}

header .cast-btn {
    background: #ff2ec4;    
    padding: 8px 14px;
    border-radius: 6px;
    
}

/*--layout--*/
.container {
    display: flex;
}

/*--sidebar--*/
.sidebar {
    width: 220px;
    background: #fff;
    padding: 20px;
}

.sidebar h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #0a9d5e;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar  li {
    padding: 4px 0;
    font-size: 14px;
}
/*--
--*/
.gallery {
       flex: 1;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 14px;
}
.thumb{
    background: #ccc;
    height: 150px;
    border-radius: 6px;
}

/*--popup--*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-content: center;
}

.popup-box {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.popup-pic {
    width: 90px;
    height: 90px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 auto 20px;
    border:3px solid #c5c5ff;
}

.green {
    color: #0ac16e;

}

.popup-buttons {
    margin-top: 20px;

}

.popup-button {
    padding: 12px 35px;
    margin: 0 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

.join {
    background: #00d44c;
    color: white;
}

.nah {
    background: #ff2ec4;
    color: white;
}

